.dashboard-content-section {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}
//kek
.inProgress,
.done,
.backlog {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}
.card-section {
  margin-bottom: 10px;
}
.editor-card {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.my-card,
.editor-card {
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 2px 4px;
  border-radius: 4px;
}
